<% set_meta_tags :description => "Niagara Falls Answers is an experimental new approach designed to make it easier for people to find City information and services quickly." %>
<div class="page-container about-page">
  <div class="breadcrumbs">
    <%= link_to( "Home", root_url) %>
    >
    <%= title "About" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="span9 main">
        <div class="main-content">
			<h1>Overview</h1>
          <p>Niagara Falls Answers is an experimental new approach designed to make it easier for people to find City information and services quickly.</p>
		  <p>Based on two previous deployments in <a href="http://answers.honolulu.gov/" target="_blank" class="highlight">Honolulu</a> and <a href="http://answers.oaklandnet.com/" target="_blank" class="highlight">Oakland</a>, Niagara Falls Answers allows residents to search for answers about City services as if they were typing questions into Google.</p>
		  <p>The original version of this app was built by <a href="http://codeforamerica.org/apps/honolulu-answers/" target="_blank" class="highlight">Code for America</a> as an open-source project. You can watch a <a href="http://vimeo.com/43632898#" target="_blank" class="highlight">short video here</a> to learn more about how the app works.</p>
          <div class="title-spacing">
            <h1>What It Is</h1>
			<p>With Niagara Falls Answers, you can ask a question or type in keywords using plain language. You'll receive simple, friendly, concise, easy-to-understand responses, as though they're coming from a neighbor.</p>
          </div>

          <div class="title-spacing">
            <h1>The Design</h1>
            <p>People begin most internet journeys with Search, so the site is designed with that in mind. At the same time, the most frequently viewed topics are bubbled up front, so most people can just click straight to their topic of interest. The content is organized based on citizen understanding, the intuitive way you'd think of a problem, not the way the City is organized internally.</p>
            <p>There are 3 types of content on the site:
            <ul class="about-list"><li>Quick Answers tell you the key things the majority of people need to know in order to answer the question.</li>
              <li>Guides provide more detailed step-by-step information for more complex answers.</li>
              <li>Web Services let you conduct transactions online to answer your questions.</li></ul></p> 
            <p>Overall, Niagara Falls Answers is designed to be user-friendly, to make people's lives easier. It declutters the typical government website experience, and solves a need people ordinarily have in their day-to-day lives.</p> 
          </div>

          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>Our Team</h1>
            <p>Niagara Falls Answers was inspired by an <a href="http://www.ted.com/talks/catherine_bracy_why_good_hackers_make_good_citizens" target="_blank" class="highlight">incredible TED Talk</a> by <a href="http://www.ted.com/speakers/catherine_bracy" target="_blank" class="highlight">Catherine Bracy</a> at Code for America, and was deployed by a team of committed citizens in Western New York:<br />
            <a class="mugshot" href="http://www.niagara.edu/renu-niagara-staff/show/552" target="_blank"><div class="shoutout"><%= image_tag "tom.jpg", :class => "biopic" %><em>Tom Lowe</em></div></a>		
            <a class="mugshot" href="http://straubcreative.nationbuilder.com" target="_blank"><div class="shoutout"><%= image_tag "zachary.jpg", :class => "biopic" %><em>Zachary Straub</em></div></a>
            <a class="mugshot" href="http://twitter.com/AndyGimma" target="_blank"><div class="shoutout"><%= image_tag "andrew.jpg", :class => "biopic" %><em>Andrew Gimma</em></div></a>		
            <a class="mugshot" href="http://linkd.in/1kzHJ5c" target="_blank"><div class="shoutout"><%= image_tag "kit.jpg", :class => "biopic" %><em>Kit Straub</em></div></a>
            </p>
          </div>
          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>With a little help from our friends...</h1>
            <p>
            <a class="mugshot" href="https://www.facebook.com/paul.dyster.3" target="_blank"><div class="shoutout"><%= image_tag "paul.jpg", :class => "biopic" %><em>Mayor Paul Dyster</em></div></a> 
            <a class="mugshot" href="https://www.linkedin.com/pub/seth-piccirillo/31/278/4a9" target="_blank"><div class="shoutout"><%= image_tag "seth.jpg", :class => "biopic" %><em>Seth Picirillo</em></div></a>
            <a class="mugshot" href="https://www.niagara.edu/ice-staff/show/627" target="_blank"><div class="shoutout"><%= image_tag "dave.jpg", :class => "biopic" %><em>Dr. David Taylor</em></div></a> 
			<a class="mugshot" href="http://www.niagara.edu/" target="_blank"><div class="shoutout"><%= image_tag "nu.jpeg", :class => "biopic" %><em>Niagara University</em></div></a> 
            <a class="mugshot" href="http://www.niagarafallsusa.org/" target="_blank"><div class="shoutout"><%= image_tag "nfseal.png", :class => "biopic" %><em>City of Niagara Falls</em></div></a> 
            <a class="mugshot" href="http://codeforamerica.org/" target="_blank"><div class="shoutout"><%= image_tag "cfa.png", :class => "biopic" %><em>Code for America</em></div></a>          
            </p>
          </div>
          <br />
          <!--        <div class="about-list"><p>Thanks to <a href="http://royalrealtyllc.com/">Royal Realty</a> for the background photo.</p></div>  
          -->
          <div class="clearfix"></div>
          <div class="title-spacing">
            <h1>We'd love to hear from you</h1>
            <p>Send us your ideas and feedback via email or tweet!
            <ul>
              <li>Want a website like this for your city?&nbsp;
              <span class="comment">Email the folks at CoA: <a href="mailto:staff@codeforamerica.org">staff@codeforamerica.org</a>.</span></li>
              <li>Are you a developer?&nbsp;
              <span class="comment">Fork the app on <a href="https://github.com/honolulu/honolulu_answers" target="_blank">GitHub</a>.</span></li>
              <li>Want to write answers for your city?&nbsp;
              <span class="comment">Read our <a href="https://docs.google.com/a/codeforamerica.org/file/d/0B9kmre1G2wdIQmhJVFdZYzRkQXc/edit" target="_blank">Content Style Guide</a>.</span></li>
              <li>Get your community involved in writing answers:&nbsp;
              <span class="comment"><a href="http://neighborhow.org/guides/host-a-writeathon-in-your-city" target="_blank">Host a write-a-thon</a>.</span></li>
              <li>Tweet to us:&nbsp;
				  <span class="comment"><a href="https://twitter.com/ReNUNiagara" target="_blank">@ReNUNiagara</a>.</span></li>
            </ul>
            </p>
          </div>
        </div>  
      </div>  
    </div>
  </div>
</div>
